.link {
  display: 'inline-block';
  text-decoration: none;
  padding: 12px;
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.link:hover,
.link:focus {
  color: #e8a87c;
}
.activeLink {
  color: #e27d60;
}
