.ContactsView {
  text-align: center;
}

.Title {
  font-size: 36px;
  font-weight: 700;
  color: #41b3a3;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
}
.EmptyList {
  color: #e8a87c;
}
