.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  /* color: #ff6347; */
}
.span,
.title {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}
