.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.title {
  margin-top: 20px;
  text-align: center;
  color: #41b3a3;
  font-size: 38px;
  font-weight: 600;
}

.span {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #c38d9e;
  font-size: 24px;
  font-weight: 500;
}
